header{
    background-image: url("../recursos/principal.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items:center;
    align-items: flex-end;
    flex-wrap: wrap;
}
nav ul li{
    list-style-type: none;
    font-size: 25px;
    background: none;
    margin: 25px;
    padding: 25px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


main{
    background-image: url("../recursos/fondo.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.parrafo{
  font-size: 20px;
  
 
}
h1 a { margin: 800px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: powderblue;
    
}


section{
    background-image: url("../recursos/fondo.jpeg");
    background-size: cover;
    flex-wrap: wrap;
    
    
}
h2 a{
    margin: 850px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color:powderblue;
    flex-wrap: wrap;
    
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.div a{
   margin: 20px;
   padding: 5px;
    
}
.div p{
    font-size: 25px;
    font-weight: bold;
}

footer{
    background-image: url("../recursos/bajo.jpeg");
    background-size: cover;
    flex-wrap: wrap;
    
}
 .iconoMedio{
    font-size: 30px;
    flex-wrap: wrap;
}
h3 a{
    margin: 50px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    background-color: powderblue;
}
.contenedorFlexible{
    display: flex;
    flex-wrap: wrap;
    
}
.contactos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.direccion{
 display: flex;
 flex-direction: row;
 align-self: flex-end;
 margin: 80px;
 padding: 5px;
 flex-wrap: wrap;
 

}  
.derechos{
    display: flex;
    flex-direction:column;
    align-self: flex-end;
    flex-wrap: wrap;
      
} 
